@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$transition: 0.2s ease-in-out;

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 60px 12px 68px 12px;
}

.page-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.page-sign__link {
  font-size: 14px;
  color: #4376F9;
}

.title {
  font-weight: bold;
  margin: 0 0 16px 0;
}

.title-2 {
  font-size: 22px;
}
