@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$transition: 0.2s ease-in-out;

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 12px;
}

.page-with-buttons {
  padding-bottom: 64px;
}

.grid {
  display: grid;
  grid-gap: 12px;
}

.page-sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
  margin: 0;
}

.title-2 {
  font-size: 22px;
}
